 @charset "UTF-89";
 
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');/*fonte importada do google fonts (Bebas Neue)*/

 @font-face {/*fonte baixada  na pasta*/
    font-family:'Android' ;
    src: url('/pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
 }


 :root{/*raiz da arvore do nosso documento // tudo que colocar aqui serve p o documento inteiro // posso criar variáveis(--) aqui dentro // cria variaveis para as cores da paleta adobe escolhida(facilita p montar o código)*/
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;


 }
 *{/*configurações globais(seleciona todos os elementos do html)*/
    margin:0px;
    padding:0px;
 }
 body{
    background-color:var(--cor0) ;/*ctrl+espaco e mostra as cores q vc salvou nas variáveis*/
    font-family: var(--fonte-padrao);/*mesmo esquema das cores, ctrl+espaco e vem as opções salvas*/
 }
 a.externo:after{/*todos os links que forem da classe externo, depois dele coloco o símbolo de externo(pego la no emojipedia)*/
   content: '\1F517';

 }
 header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
 }
 header > h1{
    color:#ffffff;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size:3em;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.464);
    font-weight: normal;
 }
 header > p{
   font-family: var(--fonte-padrao);
   font-size:1.2em;
   color:white;
   max-width:500px;
   margin:auto;
   padding-right: 10px;
   padding-left: 10px;
   text-shadow:2px 2px 0px rgba(0, 0, 0, 0.464);
   padding-bottom:20px;
 }
 nav{
    background-color:var(--cor5) ;
    padding:10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.453);
 }
 nav > a{
   color:var(--cor1);
   padding:10px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 5px;
   transition-duration: 0.5s;/*quando passar o mouse por cima ele demora 0.5s p transicionar as cores*/
 }
 nav > a:hover{
   background-color: var(--cor3);
   color:var(--cor5)
 }
 main{
    background-color: white;
    min-width: 300px;/*vai diminuindo as frases até esse tamanho, depois para de diminuir tb*/
    max-width: 800px;/*quando ele tiver 800 ele para de crescer*/
    margin-bottom:30px;
    margin:auto;
    padding:20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.446);
    border-radius: 0px 0px 10px 10px;/*arredondei só as bordas inferiores(top,right,bottom, left)*/
 }
 main h1{
    color:var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
 }
 main h2{
    color:var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 8px;
    font-weight: normal;
 }
 main p{/*n bota o sinal de filho pq o p tb pode estar dentro de outras tags, como article, aside, etc*/
   margin:15px 0px;/*margem 15px em cima e em baixo e 0 nos lados*/
   text-align: justify;
   text-indent: 30px;/*recuo no inicio*/
   font-size: 1em;
   line-height:2em ;/*altura da linha // 1em : entre uma linha e outra n tera espaço*/
 }
 main strong{/*tudo que for strong e estiver no main*/
   color:var(--cor5);
   font-weight: bold;
 }
 main a{/*todos os links dentro do main*/
   background-color: var(--cor1);
   padding: 2px 6px;
   text-decoration: none;
   color:var(--cor5)
 }
 main a:hover{
   text-decoration: underline;
 }
 main img{
   width:100% ;
 }
 main img.pequena{/*diminuindo a img do bugdroid*/
   max-width:350px;
   margin:auto;
   display:block;/*tranforma a img em bloco para  amargin auto funcionar(so funciona em blocos)*/
 }
 div.video{
   background-color: var(--cor5);/*p auxiliar na vizualização*/
   margin: 0px -20px 30px -20px;/*cola nas bordas*/
   padding:20px;
   padding-bottom:50%;/*altera a borda preta que fica dentro do video p adaptar ao tamanho da tela*/
   position:relative;
 }
 div.video > iframe{
   position:absolute;
   top:5%;/*distancia entre o video e a cx em cima*/
   left: 5%;/*distancia entre o video e a cx na esquerda*/
   width:90%;/*se botar 100 ele fica sem a bordinha*/
   height: 90%;
 }
 aside{
   background-color: var(--cor1);
   border-radius: 10px;
   padding: 10px;
   box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.300);
 }
 aside > h3{
   background-color: var(--cor4);
   color:white;
   padding:10px;
   margin: -10px -10px 0px -10px;
   border-radius: 10px 10px 0px 0px;/*so arredonda as bordas de cima*/
 }
 aside > ul{
   list-style-type: '\2714\00A0\00A0';/*pega um emoji do emojipedia, copia so o numero e add barra invertida // 00A0 é espaço sem quebra, para o emoji n ficar tão colado no item, mas isso n é compativel como todos os navegadores, chrome sim*/
   list-style-position: inside;/*posição da lista // bolinhas dentro da cx*/
   columns: 2;/*divide a lista em 2 colunas*/
 }
 footer{
    background-color: var(--cor5);
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
 }
footer a{
   color:white;
   font-weight:bolder;
   text-decoration: none;
}
footer a:hover{
   text-decoration: underline;
   color:var(--cor1)
}